# Server Port
PORT=5000

# JSON Web Token Secret Key
JWT_SECRET=military_asset_jwt_secret_key_2026

# Live PostgreSQL Database URL (Neon Cloud / Local PG)
DATABASE_URL=postgresql://neondb_owner:npg_em0ioaSpQId7@ep-old-leaf-axwdugg3-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require
